/* style.css - overrides bulma.css base */

/* Define Google fonts import, then apply to :root variables below */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=DM+Serif+Text&family=Open+Sans:wght@500&display=swap");

:root {

  --font-family-sans: Calibri, "Open Sans", sans-serif;
  --font-family-serif: "DM Serif Text", sans-serif;;
  --font-family-monospace: "Courier Prime", "Courier New", "Courier", serif;

  --default-background-color: #ffffff;
  --default-color: #333333;
  --default-font-size: 18px;
  --default-font-family: var(--font-family-sans);

  --site-max-width: 1024px;

 
  --navbar-background-color: #445599;
  --navbar-color: #ccccdd;
  --navbar-active-color: #ffffff;
  --navbar-font-family: var(--font-family-sans);
  --navbar-font-size: 1.0rem;

  --footer-background-color: #ffffff;
  --footer-color: #333333;
  --footer-link-color: #4455ff;
  --footer-active-color: #000000;
  --footer-font-family: inherit;
  --footer-font-size: 0.8rem;


  --code-background-color: #272827;
  --code-color: #f5f7fa;
  --code-font-family: var(--font-family-monospace);
  --code-font-size: 16px;

  --super-title-text-color:  #69707a;

  --heading-color: #333333;
  --heading-font-family: var(--font-family-sans);

}

html {
    background-color: var(--default-background-color);
    color: var(--default-color);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
}

body {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.container {
  max-width: var(--site-max-width) !important;
  margin: 0 auto;
}


.navbar {
    background-color: var(--navbar-background-color);
    color: var(--navbar-color);
}

.site-title {
    color: var(--navbar-color);
    font-family: var(--font-family-sans);
    font-size: 1.5rem;
}
.navbar-item {
    color: var(--navbar-color);
    font-size: var(--navbar-font-size);
}

#nav-heading {
  color: var(--navbar-color);
}
.nav-title.is-5 {
  font-size: 18px;
}

nav-item a.is-active, .nav-item a:hover, a.nav-item.is-active, a.nav-item:hover {
    color: var(--header-text-color);
}

a.navbar-item:focus, 
a.navbar-item:focus-within, 
a.navbar-item:hover, 
a.navbar-item.is-active, 
.navbar-link:focus, 
.navbar-link:focus-within, 
.navbar-link:hover, 
.navbar-link.is-active {
  background-color: inherit;
  color: var( --navbar-active-color);
}

#footer {
  background-color: var(--footer-background-color);
  color: var(--footer-color);
  font-family: var(--footer-font-family);
  font-size: var(--footer-font-size);
}

#footer a,
#footer a:visited {
  color: var( --footer-link-color);
}

#footer a:focus, 
#footer a:focus-within, 
#footer a:hover, 
#footer a.is-active {
  background-color: inherit;
  color: var( --footer-active-color);
}

/* elements */

pre,
pre code {
  background-color: var(--code-background-color) ;
  color: var(--code-color);
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
}

.content .button.is-link {
  margin: 0 .25rem;
  padding: 0.1rem 0.5rem;
  font-size: 0.8rem;
  height: auto;
}

/* -- original styles --*/
/*
.footer a:hover,
.footer a:visited:hover {
  color: #222324;
}

.footer a:not(.icon),
.footer a:visited:not(.icon) {
  border-bottom: 1px solid #d3d6db;
}

.footer a:not(.icon):hover,
.footer a:visited:not(.icon):hover {
  border-bottom-color: #2077b2;
}
*/



.content h1:not(:first-child),
.content h2:not(:first-child),
.content h3:not(:first-child),
.content h4:not(:first-child),
.content h5:not(:first-child),
.content h6:not(:first-child),
article+article {
  margin-top: 80px;
}

.content {
  font-size: 16px;
  line-height: 1.75;
}

.media-content .subtitle+.title {
  margin-bottom: 10px;
}

.media-content .content {
  line-height: 1.5;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.title {
  line-height: 1.25;
}

.hero .nav {
  box-shadow: none;
}

.nav .level-item {
  margin-left: 10px;
}

.subtitle {
  color: #69707a;
}

.title {
  font-size: 24px;
}

.title a {
  color: #222324;
}

.title.notfound {
  font-size: 20vw;
}


.content h1::before,
.content h2::before,
.content h3::before,
.content h4::before,
.content h5::before,
.content h6::before {
  color: #aeb1b5;
  font-weight: 700;
}

.content h1 code,
.content h2 code,
.content h3 code,
.content h4 code,
.content h5 code,
.content h6 code {
  background-color: #8a2be2;
}

.content h1+h2:not(:first-child),
.content h2+h3:not(:first-child),
.content h3+h4:not(:first-child),
.content h4+h5:not(:first-child),
.content h5+h6:not(:first-child) {
  margin-top: 20px;
}

.content h1 {
  font-size: 24px;
}

.content h2 {
  font-size: 22px;
}

.content h3 {
  font-size: 20px;
}

.content h4 {
  font-size: 18px;
}

.content h5 {
  font-size: 17px;
}

.content h6 {
  font-size: 16px;
}

.content ol:not(:last-child),
.content p:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child),
.content ul:not(:last-child) {
  margin-bottom: 1.5em;
}

.content table td,
.content table th {
  border: 1px solid #d3d6db;
  padding: 8px 10px;
  vertical-align: top;
}


.content li pre,
.content li table {
  margin-bottom: 1.5em;
}

img[src$="#c"] {
  display: block;
  margin: 0.7rem auto;
}

img[src$="#l"] {
  float: left;
  margin: 0.7rem;
}

img[src$="#r"] {
  float: right;
  margin: 0.7rem;
}

.related a:not(.button) {
  border-bottom: none;
}

.related a:not(.button):visited {
  color: #000;
}

.related ul {
  font-size: 17px;
}

div.super-title.tags {
  margin-bottom: 0px;
}

.copy-code-button {
  color: #272822;
  background-color: #FFF;
  border-color: #272822;
  border: 2px solid;
  border-radius: 3px 3px 0px 0px;

  display: block;
  margin-left: auto;
  margin-right: 0;

  margin-bottom: -2px;
  padding: 3px 8px;
  font-size: 0.8em;
}

.copy-code-button:hover {
  cursor: pointer;
  background-color: #F2F2F2;
}

.copy-code-button:focus {
  background-color: #E6E6E6;
  outline: 0;
}

.copy-code-button:active {
  background-color: #D9D9D9;
}

.highlight pre {
  margin: 0;
}

/* ------*/

.site-logo {
    margin-right: 5px;
}

.draft {
    font-style: italic;
    font-size: 0.8em;
}
.super-title {
    color: var(--super-title-text-color);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    line-height: 1.125;
}
h1.title {
  color: var(--heading-color);
  font-size: 2rem;
}

article h1.title {
  color: var(--heading-color);
  font-size: 2rem;
}


#navbar {
  background-color: var(--navbar-background-color);
  color: var(--navbar-color);
}
.nav,
.nav-title,
.nav-item a,
a.nav-item {
  background-color: inherit;
  color: inherit;
}

.main {
  background-color: var(--default-background-color);
  color: var(--default-color);
}






