@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@500&family=Open+Sans:wght@500&family=Source+Code+Pro&display=swap");

:root {
  --default-background-color: #ffffff;
  --default-text-color: #333333;
  --default-heading-color: #333333;

  --default-text-font: Calibri, "Open Sans", sans-serif;
  --default-heading-font: "Merriweather", sans-serif;

  --navbar-background-color: #445599;
  --navbar-text-color: #eeeeff;
  --navbar-font-size: 1.5em;

  --footer-background-color: ##333333;
  --footer-text-color: #eeeeff;


  --code-background-color: #42464c;
  --code-text-color: #f5f7fa;

  --super-title-text-color:  #69707a;
}

html {
    background-color: var(--default-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--default-heading-color);
  font-family: var(--default-heading-font);
}

.navbar {
    background-color: var(--navbar-background-color);
    color: var(--navbar-text-color);
}
.site-title {
    color: var(--navbar-text-color);
    font-family: var(--default-text-font);
    font-size: 2rem;
}
.navbar-item {
    color: var(--navbar-text-color);
    font-size: var(--navbar-font-size);
}
.site-logo {
    /*filter: invert(99%) sepia(13%) saturate(8807%) hue-rotate(30deg) brightness(100%) contrast(80%);*/
    filter: invert(100%) sepia(13%) saturate(8807%) hue-rotate(0deg) brightness(100%) contrast(100%);
    margin-right: 5px;
}

.draft {
    font-style: italic;
    font-size: 0.8em;
}
.super-title {
    color: var(--super-title-text-color);
    font-family: var(--default-text-font);
    font-size: 16px;
    line-height: 1.125;
}
h1.title {
  color: var(--default-heading-color);
  font-size: 2rem;
}

article h1.title {
  color: var(--default-heading-color);
  font-size: 2rem;
}

pre,
pre code {
  background-color: var(--code-background-color) !important;
  color: var(--code-text-color);
}
.highlight pre {
    background-color: var(--code-background-color);
    color: var(--code-text-color);

        background-color: inherit;
        color: #f8f8f2;
      
}

body {
  font-family: var(--default-text-font);
}

#navbar {
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color);
}
.nav,
.nav-title,
.nav-item a,
a.nav-item {
  background-color: inherit;
  color: inherit;
}

.main {
  background-color: var(--default-background-color);
  color: var(--default-text-color);
}

.footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
}

#nav-heading {
  color: var(--navbar-text-color);
}
.nav-title.is-5 {
  font-size: 18px;
}

nav-item a.is-active, .nav-item a:hover, a.nav-item.is-active, a.nav-item:hover {
    color: var(--header-ext-color);
}


